{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container px-4 px-lg-5">
            <h1 class="font-weight-light" style="text-align: center">Контактная информация</h1>
            <!-- Heading Row-->

            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2433.8412847933855!2d30.978557640966237!3d52.40955266343946!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d469cd159f53b3%3A0xb317352e20b48c0!2z0KHRgNC10LTQvdGP0Y8g0YjQutC-0LvQsCDihJYgMzI!5e0!3m2!1sru!2sby!4v1686072723805!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="">
                    <h1></h1><p>Официальное наименование:
Государственное учреждение образования "Средняя школа №32 г.Гомеля"
Тип учреждения:
Учреждение общего среднего образования / Установа агульнай сярэдняй адукацыi
Населенный пункт:
Гомель
Адрес:
ул. 60 лет СССР, 13а, 246049, г.Гомель
Телефон:
55-77-50
E-mail:
sovroo-sch32@sovroo.gorodgomel.by</p>
                </div>
            </div>

            </div>

{% endblock %}